.logo-container {

  display: block;       
  margin: 0 auto;      
  width: 120px;
    

  margin-bottom: 4px;

    img {
        max-width: 100%;
        height: auto;
    }
}

.version-info {
    text-align: center;
    font-size: 0.8em;
    color: #888;
    margin-top: 16px;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 30px;

    form {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}
.title {
  margin-top: 8px;          
  padding: 0;        
  font-weight: 500;
white-space: nowrap;
text-align: center;
font-style: italic;
color: white;
text-shadow: 2px 2px 6px rgb(255, 255, 255);

}
.logo-wrapper {
  display: flex;
  flex-direction: column;   
  align-items: center;     
  width: 120px;
}
.fondo-gradiente {
  height: 100vh;
  background: linear-gradient(to bottom, #8000ff, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
}



