<ion-content [fullscreen]="true" class="bg-gradient">

  <div class="main-container">
    
    <div class="login-card">

      <div class="header-section ion-text-center">
        <img src="assets/img/logo.jpg" alt="Logo" class="logo-img" onerror="this.src='assets/icon/favicon.png'">
        <h2 class="app-title">Bienvenido</h2>
        <p class="app-subtitle">Inicia sesión en Huellitas</p>
      </div>

      <div class="form-section">
        
        <ion-item lines="none" class="custom-input-item ion-margin-bottom">
          <ion-icon slot="start" name="person-outline" color="medium"></ion-icon>
          <ion-input 
            label="Correo Electrónico" 
            labelPlacement="floating" 
            type="email"
            [(ngModel)]="email"    
            placeholder="ejemplo@correo.com">
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="custom-input-item ion-margin-bottom">
          <ion-icon slot="start" name="lock-closed-outline" color="medium"></ion-icon>
          <ion-input 
            label="Contraseña" 
            labelPlacement="floating" 
            type="password"
            [(ngModel)]="password" 
            placeholder="Ingresa tu clave">
          </ion-input>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-item>

        <ion-button (click)="login()" expand="block" class="main-btn ion-margin-top" [disabled]="cargando">
          <span *ngIf="!cargando">INGRESAR</span>
          <ion-spinner name="crescent" *ngIf="cargando"></ion-spinner>
        </ion-button>

        <div class="ion-text-center ion-margin-top links-container">
          <a routerLink="/recuperar" class="small-link">¿Olvidaste tu contraseña?</a>
          <br>
          <a routerLink="/registro" class="small-link register-link">Crear una cuenta nueva</a>
        </div>

      </div>
    </div>
  </div>

</ion-content>