

<ion-header [translucent]="true">
  <ion-toolbar class="toolbar1">
    
    
      <span class="titulo">Bienvenido</span>
      
      <ion-button slot="end" routerLink="/login">
      Cerrar sesión
      </ion-button>
      
    
  </ion-toolbar>
</ion-header>




<ion-content>
  <!-- Card 1 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ramo Buchon</ion-card-title>
      <ion-card-subtitle>Ramo N1</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Ramo buchon de 7 Flores a pedido del cliente
    </ion-card-content>
  </ion-card>

  <!-- Card 2 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ramo Buchon + Accesorio</ion-card-title>
      <ion-card-subtitle>Ramo N2</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Ramo buchon con tematica de Colo-Colo + accesorios de mariposas y coronas
    </ion-card-content>
  </ion-card>

  <!-- Card 3 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ramo Buchon + Girasol</ion-card-title>
      <ion-card-subtitle>Ramo N3</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Ramo buchon de 6 Flores + Girasol de flor eterna
    </ion-card-content>
  </ion-card>
</ion-content>










<div class="version-info">
    <span>
      Versión 1.0.0
    </span>
  </div>

