

<ion-header [translucent]="true">
  <ion-toolbar class="toolbar1">

    <!-- Título centrado -->
    <ion-title class="titulo">
      Bienvenido @en.santibanez
    </ion-title>

    <!-- Icono tipo persona en el centro -->
    <ion-button slot="primary" class="center-icon">
      <ion-button fill="clear" (click)="goToPerfil()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-button>

    <!-- Botón cerrar sesión a la derecha -->
    <ion-button slot="end" routerLink="/login">
      Cerrar sesión
    </ion-button>

  </ion-toolbar>
</ion-header>




<ion-content fullscreen class="home-background">
  <div class="home-container">
    <!-- Card 1 -->
    <ion-card>
      <img src="../../assets/img/foto1.png" alt="Ramo Buchon" class="card-img"/>
      <ion-card-header>
        <ion-card-title>Ramo Buchon</ion-card-title>
        <ion-card-subtitle>Ramo N1</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Descripcion: Ramo buchon de 7 Flores a pedido del cliente
      </ion-card-content>
    </ion-card>

    <!-- Card 2 -->
    <ion-card>
      <img src="../../assets/img/foto2.png" alt="Ramo Buchon + Accesorio" class="card-img"/>
      <ion-card-header>
        <ion-card-title>Ramo Buchon + Accesorio</ion-card-title>
        <ion-card-subtitle>Ramo N2</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
       Descripcion: Ramo buchon con temática de Colo-Colo + accesorios de mariposas y coronas
      </ion-card-content>
    </ion-card>

    <!-- Card 3 -->
    <ion-card>
      <img src="../../assets/img/foto3.png" alt="Ramo Buchon + Girasol" class="card-img"/>
      <ion-card-header>
        <ion-card-title>Ramo Buchon + Girasol</ion-card-title>
        <ion-card-subtitle>Ramo N3</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Descipcion: Ramo buchon de 6 Flores + Girasol de flor eterna
      </ion-card-content>
    </ion-card>

    <div class="version-info">
      <span>Versión 1.0.0</span>
    </div>
  </div>
</ion-content>


