

<ion-header [translucent]="true">
  <ion-toolbar class="toolbar1">
    
    
      <span class="titulo">Bienvenido</span>
      
      <ion-button slot="end" routerLink="/login">
      Cerrar sesión
      </ion-button>
      
    
  </ion-toolbar>
</ion-header>
<div class="fondo-gradiente">



<ion-card>
  <img alt="imagen1" src="../../assets/img/foto1.png"  class="card-img">
  <ion-card-header>
    <ion-card-title>Ramo Buchon Celeste</ion-card-title>

  </ion-card-header>

  <ion-card-content>
    Descripcion:Ramo Buchon de 7 Flores
    precio
  </ion-card-content>
</ion-card>
</div>