



  .toolbar-flex {
  display: flex;
  justify-content: space-between; /* Empuja elementos a los extremos */
  align-items: center;            /* Centra verticalmente */
  width: 100%;                    /* Ocupa todo el ancho */

}

.titulo {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 15px;
  font-style: italic;
}
.fondo-gradiente {
  height: 100vh;
  background: linear-gradient(to bottom, #8000ff, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img {
  width: 100%;   /* ocupa todo el ancho de la card */
  max-height: 200px; /* altura máxima */
  object-fit: cover; /* recorta la imagen sin deformarla */
  border-radius: 10px;
  }

.version-info {
    text-align: center;
    font-size: 0.8em;
    color: #888;
    margin-top: 16px;
}
.center-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;           /* sobre el toolbar */
}

.center-icon ion-icon {
  font-size: 36px;       /* tamaño visible */
  color: black;          /* color visible */
  display: block;        /* asegura que se renderice */
}
.card-img {
  width: 100%;          /* ocupa todo el ancho de la card */
  height: auto;          /* altura automática según la imagen */
  object-fit: contain;   /* mantiene proporción y muestra toda la imagen */
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}










